@import "styles/variables";

@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),
    url("/assets/fonts/helveticaneue.ttf") format("truetype");
}

@font-face {
  font-family: "SplineSans";
  src: local("SplineSans"),
    url("/assets/fonts/SplineSans-VariableFont_wght.ttf") format("truetype");
}
