@import "styles/variables";

.Title {
  font-weight: 600;
  color: $color-vivid-sky-blue;
  display: block;

  &.ExtraLarge {
    font-size: 50px;
    line-height: 48px;
  }

  &.Large {
    font-size: 36px;
    line-height: 48px;
  }

  &.Medium {
    font-size: 28px;
    line-height: 48px;
  }

  &.Small {
    font-size: 22px;
    line-height: 28px;
  }

  &.ExtraSmall {
    font-size: 18px;
    line-height: 23px;
  }
}

.Subtitle {
  font-style: normal;
  color: $color-vivid-sky-blue;
  font-size: 20px;
  line-height: 24px;
}

.Body {
  font-style: normal;
  color: $color-vivid-sky-blue;

  &.Large {
    font-size: 16px;
    line-height: 19px;
  }
  &.Medium {
    font-size: 14px;
    line-height: 17px;
  }
  &.Small {
    font-size: 12px;
    line-height: 14px;
  }
}

.Subtitle,
.Body {
  &.Bold {
    font-weight: 800;
  }

  &.Regular {
    font-weight: 400;
  }
}
