// Colors

$color-rose: #f72585;
$color-fandango: #b5179e;
$color-grape: #7209b7;
$color-chrysler-blue: #560bad;
$color-dark-blue: #480ca8;
$color-zaffre: #3a0ca3;
$color-palatinate-blue: #3f37c9;
$color-neon-blue: #4361ee;
$color-chefchaouen-blue: #4895ef;
$color-vivid-sky-blue: #4cc9f0;

// Fonts

$font-family: "Lexend", sans-serif;
