// Colors

$rose: #f72585;
$fandango: #b5179e;
$grape: #7209b7;
$chrysler-blue: #560bad;
$dark-blue: #480ca8;
$zaffre: #3a0ca3;
$palatinate-blue: #3f37c9;
$neon-blue: #4361ee;
$chefchaouen-blue: #4895ef;
$vivid-sky-blue: #4cc9f0;

// Fonts

$font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
