@import "styles/mixins";

.Menubar {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, 0);
  width: 50%;
  padding: 1rem 2rem;
  margin: 0 auto;
  background: rgba($color-palatinate-blue, 0.1);
  border-radius: 50px;

  ul {
    @include flex(row, right, center);
    gap: 2rem;
    position: relative;
  }

  .MenuItem {
    @include noStyleButton();
    opacity: 1;
    filter: brightness(100%);
    transition: all 0.2s ease-in;

    &:hover {
      cursor: pointer;
      filter: brightness(125%);
    }
  }
}
